@page "/info"

<PageTitle>Omkring Mig</PageTitle>

<img src="/EmmaPicture.png" width="300" height="300" />

<h2>Dyr</h2>

<div>
    <h3>Hund</h3>
    <p>Navn: Vuffer</p>
    <p>Race: Border Collie</p>
    <p>Alder: 3 år</p>
</div>

<div>
    <h3>Kat</h3>
    <p>Navn: Misser</p>
    <p>Race: Maine Coon</p>
    <p>Alder: 5 år</p>
</div>
<br />
<h2>Computere</h2>

<div>
    <h3>Stationær Computer</h3>
    <p>Mærke: HP</p>
    <p>Processor: Intel i7</p>
    <p>Grafikkort: NVIDIA GeForce RTX 3080</p>
</div>

<div>
    <h3>Bærbar Computer</h3>
    <p>Mærke: Dell XPS</p>
    <p>Processor: Intel i5</p>
    <p>RAM: 16 GB</p>
</div>
<br />
<h2>Transportmidler</h2>

<div>
    <h3>Cykel</h3>
    <p>Mærke: Trek</p>
    <p>Model: Mountainbike</p>
    <p>Farve: Blå</p>
</div>

<div>
    <h3>Bil</h3>
    <p>Mærke: Volkswagen</p>
    <p>Model: Golf</p>
    <p>Årgang: 2019</p>
</div>
